{% extends "xf_viz_base.html" %}

{% block main %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>CAD4TB</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>


                <div class="row">

                    <div class="x_content">
                        <table id="datatable-checkbox"
                               class="table table-striped table-bordered bulk_action">
                            <thead>
                            <tr>
                                <th>Participant</th>
                                <th>Study Instance UID</th>
                                <th>Study Date</th>
                                <th>Studay Time</th>
                                <th>Series Instance UID</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ cad4tb.participant.pin }}</td>
                                <td>{{ cad4tb.StudyInstanceUID }}</td>
                                <td>{{ cad4tb.StudyDate }}</td>
                                <td>{{ cad4tb.StudyTime }}</td>
                                <td>{{ cad4tb.SeriesInstanceUID }}</td>
                                <td>{{ cad4tb.value }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block starterjs %}
    $('#datatable-checkbox').DataTable();
{% endblock %}
