{% extends "xf_viz_base.html" %}

{% block main %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>CAD4TB</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>


                <div class="row">

                    <div class="x_content">
                        <table id="datatable-checkbox"
                               class="table table-striped table-bordered bulk_action">
                            <thead>
                            <tr>
                                <th>Pin</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Latest Stage</th>
                                <th width="160"></th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for participant in participants %}

                                <tr>
                                    <td>{{ participant.pin }}</td>
                                    <td>{{ participant.name }} {{ participant.surname }}</td>
                                    <td>{{ participant.age }}</td>
                                    <td>{{ participant.get_gender_display }}</td>
                                    <td>stage x</td>
                                    <td>
                                        <button class="btn btn-default btn-sm" type="button"
                                                onclick="location.href='{% url 'nsinya:view-cad4tb' participant_id=participant.id %}'"
                                                title="View"><i class="fa fa-eye"></i> View CAD4TB
                                        </button>
                                    </td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block starterjs %}
    $('#datatable-checkbox').DataTable();
{% endblock %}
