{% extends "xf_viz_base.html" %}

{% block main %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>GeneXpert Results</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>


                <div class="row">

                    <div class="x_content">
                        <table id="datatable-checkbox"
                               class="table table-striped table-bordered bulk_action">
                            <thead>
                            <tr>
                                <th>Patient</th>
                                <th>GeneXpert</th>
                                <th>Error</th>
                                <th>Processing DateTime</th>
                                <th>Issue DateTime</th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for gx in object_list %}

                                <tr>
                                    <td>{{ gx.patientId }}</td>
                                    <td>{{ gx.resultText }}</td>
                                    <td>{{ gx.errorCode }}</td>
                                    <td>{{ gx.testStartedOn}}</td>
                                    <td>{{ gx.testEndedOn }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block starterjs %}
    $('#datatable-checkbox').DataTable();
{% endblock %}
