{% extends "xf_viz_base.html" %}

{% block main %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_title">
                <h2>Review Participant</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content" style="padding: 0em 1.5em; overflow: auto">
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Pin:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ participant.pin }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Gender:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ participant.get_gender_display }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Age:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ participant.age }}</div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="ln_solid"></div>
            <div class="x_content">

                <div class="col-xs-3">
                    <!-- required for floating -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-left">
                        <li class="active"><a href="#symptom_screening" data-toggle="tab"><span>Symptom Screening</span></a>
                        </li>
                        <li><a href="#hiv_screening" data-toggle="tab"><span>HIV Screening</span></a></li>
                        <li><a href="#risk_factors" data-toggle="tab"><span>Risk Factors</span></a></li>
                        <li><a href="#xray" data-toggle="tab"><span>X-Ray</span></a></li>
                    </ul>
                </div>

                <div class="col-xs-9">
                    <!-- Tab panes -->
                    <div class="tab-content">

                        <div class="tab-pane active" id="symptom_screening">
                            <p class="lead">Symptom Screening</p>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Visit result</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_visit_result_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Cough status</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.cough_status|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Cough weeks</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.cough_weeks|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Cough sputum</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_cough_sputum_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Sputum blood</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_sputum_blood_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Chest pain</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_chest_pain_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Chest pain
                                    weeks</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.chest_pain_weeks|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Fever status</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_fever_status_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Fever weeks</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.fever_weeks|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Night sweat</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_night_sweat_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Night sweat
                                    weeks</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.night_sweat_weeks|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Weight loss</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_weight_loss_display|default_if_none:'' }}</div>
                            </div>
                        </div>
                        <div class="tab-pane" id="hiv_screening">
                            <p class="lead">HIV Screening</p>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Is test done
                                    before</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ hiv_screening.get_is_test_done_before_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Last test
                                    done</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ hiv_screening.last_test_done|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">What is last
                                    result</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ hiv_screening.get_what_is_last_result_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">If hiv
                                    positive</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ hiv_screening.get_if_hiv_positive_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Exam was
                                    consented</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ hiv_screening.get_exam_was_consented_display|default_if_none:'' }}</div>
                            </div>
                        </div>
                        <div class="tab-pane" id="risk_factors">
                            <p class="lead">Risk Factors</p>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Do you read
                                    newspaper?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.participant_read_newspaper_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Do you wacth
                                    television?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.participant_watch_tv|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Do you listen to
                                    radio?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.participant_listen_radio_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Do you work in open
                                    or closed space?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.participant_workplace_space_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Occupation?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.participant_occupation_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Did you ever work in
                                    mine?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.work_mine_history_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Did you ever work in
                                    the prision?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.work_prison_history_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Did you ever work in
                                    health care?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.work_healthcare_history_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Visited other
                                    province?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.province_visit_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Did you ever been
                                    outside Mozambique for 6 months for the last five years?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.outside_moz_history_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Do you use tabac or
                                    cigarette?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.smoking_status_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">How many cigarette
                                    did you smoke the last 24h?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.smoking_frequency_inhous_verbose|default_if_none:'' }}</div>
                            </div>
                        </div>
                        <div class="tab-pane" id="xray">
                            <p class="lead">X-Ray</p>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Xray results</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ xray.get_xray_results_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Xray date</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ xray.xray_date|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Xray time</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ xray.xray_time|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">CAD4TB Score</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ xray.CAD4TB_score|default_if_none:'' }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="ln_solid"></div>
            <div class="x_content">
                {% if participant.review %}
                    <h4>REVIEW</h4>
                    <div class="row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">TB Case:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ participant.review.get_tb_case_display }}</div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Review Date:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ participant.review.review_date }}</div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Panel
                            Representative:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ participant.review.panel_representative }}</div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Remarks:</label>
                        <div class="control-value col-md-9 col-sm-9 col-xs-12">{{ participant.review.remarks }}</div>
                    </div>
                {% else %}
                    <form class="form-horizontal form-label-left"
                          action="{% url 'nsinya:review-participant' pin=participant.pin %}"
                          method="post">
                        {% csrf_token %}
                        <input type="hidden" class="form-control" value="{{ positivity_code }}" name="positivity_code"
                               id="positivity_code">
                        {% for field in form %}

                            <div class="form-group has-feedback">
                                <label class="control-label col-sm-3"
                                       for="id_{{ field.name }}">{{ field.label }}</label>
                                <div class="col-sm-6">
                                    {{ field }}
                                </div>
                            </div>


                        {% endfor %}
                        <div class="clearfix"></div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="submit" class="btn btn-primary">Submit review</button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}


