{% extends "xf_viz_base.html" %}

{% block main %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div>
                <h2>
                    <label>{{ sample.sample_id }} </label>
                </h2>
            </div>

            <div class="ln_solid"></div>

            <div class="x_content" style="height: 150px; padding: 0em 1.5em; margin-bottom: 3em; overflow: auto">
                <div class="row">
                    <label class="control-label col-md-6 col-sm-6 col-xs-12" for="name">Sample id:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ sample.sample_id }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-6 col-sm-6 col-xs-12" for="name">Date sample:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ sample.date_sample }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-6 col-sm-6 col-xs-12" for="name">Techinician name:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ sample.techinician_name }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-6 col-sm-6 col-xs-12" for="name">Production mode:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ sample.get_prod_mode_display }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-6 col-sm-6 col-xs-12" for="name">Amount sample:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ sample.amount_sample }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-6 col-sm-6 col-xs-12" for="name">Aspect sample:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ sample.get_aspect_sample_display }}</div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="ln_solid"></div>
            <div class="x_content">

                <div class="col-xs-3">
                    <!-- required for floating -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-left">

                        <li class="active">
                            <a href="#transport" data-toggle="tab"><span>Transport</span>
                                <span class="{% if batch != 'N/A' %}fa fa-check{% endif %}"/></a>
                        </li>

                        <li><a href="#reception" data-toggle="tab"><span>Reception</span>
                            <span class="{% if reception != 'N/A' %}fa fa-check{% endif %}"/></a>
                        </li>

                    </ul>
                </div>

                <div class="col-xs-9">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="transport">
                            <p class="lead">Transport</p>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Batch ID</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ transport.batch_id }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Packaged By</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ transport.packaged_by }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Packaging Date</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ transport.packaging_date }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Total Sent samples</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ transport.total_sent_samples }}</div>
                            </div>
                             <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Send Date</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ transport.send_date }}</div>
                            </div>
                             <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Temperature</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ transport.temperature }}</div>
                            </div>
                             <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Handed over By</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ transport.handed_over_by }}</div>
                            </div>
                             <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Handover Date</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ transport.handover_date }}</div>
                            </div>
                             <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Carrier Driver Name</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ transport.carrier_driver_name }}</div>
                            </div>
                             <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Carrier Reception Date</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ transport.carrier_reception_date }}</div>
                            </div>
                        </div>
                        <div class="tab-pane" id="reception">
                            <p class="lead">Reception</p>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Batch ID</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ reception.batch_id }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Reception Date</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ reception.reception_date }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Received By</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ reception.received_by }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Quantity</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ reception.quantity }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Sample Aspect</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ reception.get_sample_aspect_display }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Acceptability</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ reception.get_acceptability_display }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Rejection Reason</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ reception.get_rejection_reason_display }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Problematic Sample</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ reception.get_problematic_sample_display }}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


