{% extends "xf_viz_base.html" %}

{% block main %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Sample Tracking</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>


                <div class="row">

                    <div class="x_content">
                        <table id="datatable-checkbox"
                               class="table table-striped table-bordered bulk_action">
                            <thead>
                            <tr>
                                <th>Sample id</th>
                                <th>Date sample</th>
                                <th>Aspect sample</th>
                                <th width="100"></th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for sample in samples %}

                                <tr>
                                    <td>{{ sample.sample_id }}</td>
                                    <td>{{ sample.date_sample }}</td>
                                    <td>{{ sample.get_aspect_sample_display }}</td>
                                    <td>
                                        <button class="btn btn-default btn-sm" type="button"
                                                onclick="location.href='{% url 'nsinya:sample-tracking-dashboard' sample_id=sample.sample_id %}'"
                                                title="View"><i class="fa fa-eye"></i> View
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block starterjs %}
    $('#datatable-checkbox').DataTable();
{% endblock %}
