{% extends "xf_viz_base.html" %}

{% block main %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        {% for message in messages %}
            {% if forloop.first %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
        {% endfor %}
        <div class="x_panel">

            <div class="x_title">
                <h2>Eligibilidade para colheita de amostra</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <form class="form-horizontal form-label-left" method="post"
                      action="{% url 'nsinya:check-eligibility' %}">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="col-sm-2 control-label">PIN</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" class="form-control" name="pin" id="pin"
                                       required="required" autofocus="autofocus" onChange="this.form.submit();">
                                <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">Verificar</button>
                                    </span>
                            </div>
                        </div>
                    </div>
                </form>
                {% if xray %}
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2  col-xs-12 col-md-offset-2" for="name">Xray status:</label>
                        <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ xray.get_xray_status_display|default_if_none:'' }}</div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12 col-md-offset-2" for="name">Xray results:</label>
                        <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ xray.get_xray_results_display|default_if_none:'' }}</div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}