{% extends "xf_viz_base.html" %}
{% load nsinya_filters %}

{% block main %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Dashboard de Colisoes</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>


                <div class="row">

                    <div class="x_content">
                        <table id="datatable-checkbox"
                               class="table table-striped table-bordered bulk_action">
                            <thead>
                            <tr>
                                <th>Participante</th>
                                <th>Agregado Familiar Antigo</th>
                                <th>Agregado Familiar Novo</th>
                                <th>PIN Antigo</th>
                                <th>PIN Novo</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for collision in collisions %}

                                <tr>
                                    <td>{{ collision.participant.name }} {{ collision.participant.surname }}</td>
                                    <td>{{ collision.old_household }}</td>
                                    <td>{{ collision.new_household }}</td>
                                    <td>{{ collision.old_pin }}</td>
                                    <td>{{ collision.new_pin }}</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm" type="button"
                                                onclick="location.href='{% url 'nsinya:participant-dashboard' pin=collision.new_pin %}'"
                                                title="View"><i class="fa fa-eye"></i> Consultar
                                        </button>
                                    </td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block starterjs %}
    $('#datatable-checkbox').DataTable();
{% endblock %}
