{% extends "xf_viz_base.html" %}
{% load nsinya_filters %}
{% block main %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_title">
                <h2>Household {{ household.household_number }}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" style="height: 140px; padding: 0em 1.5em; margin-bottom: 3em; overflow: auto">

                <div class="row">
                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Household number:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ household.household_number }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Location:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ household.village }}, {{ household.locality }}, {{ household.administrative_post }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Visit Numer:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ household.visit_number }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Visit Date:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ household.visit_date }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Visit Result Start:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ household.get_visit_result_start_display }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Visit result end:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ household.get_visit_result_end_display }}</div>
                </div>
            </div>
            <div class="clearfix"></div>
            <h5>Members</h5>
            <div class="x_content">
                <table id="datatable-checkbox"
                       class="table table-striped table-bordered bulk_action">
                    <thead>
                    <tr>
                        <th>Pin</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Latest Stage</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for member in members %}

                        <tr>
                            <td>{{ member.pin }}</td>
                            <td>{{ member.name }} {{ member.surname }}</td>
                            <td>{{ member.age }}</td>
                            <td>{{ member.get_gender_display }}</td>
                            <td>{{ member.get_latest_stage_display}}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}