{% extends "xf_viz_base.html" %}

{% block main %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Households List</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>


                <div class="row">

                    <div class="x_content">
                        <table id="datatable-checkbox"
                               class="table table-striped table-bordered bulk_action">
                            <thead>
                            <tr>
                                <th>Household #</th>
                                <th>Location</th>
                                <th>Visit Number</th>
                                <th>Visit date</th>
                                <th>Visit Result Start</th>
                                <th>Visit Result End</th>
                                <th width="50"></th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for household in households %}

                                <tr>
                                    <td>{{ household.household_number }}</td>
                                    <td>{{ household.village }}, {{ household.locality }}, {{ household.administrative_post }}</td>
                                    <td>{{ household.visit_number }}</td>
                                    <td>{{ household.visit_date }}</td>
                                    <td>{{ household.get_visit_result_start_display }}</td>
                                    <td>{{ household.get_visit_result_end_display }}</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm" type="button"
                                                onclick="location.href='{% url 'nsinya:household-dashboard' household_id=household.id %}'"
                                                title="View"><i class="fa fa-eye"></i> View
                                        </button>
                                        <!--<a class="btn btn-default btn-sm"
                                           href="{% url 'admin:nsinya_census_change' household.id %}"
                                           title="Edit" target="_blank"><i class="fa fa-pencil"></i> Edit</a>-->
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block starterjs %}
    $('#datatable-checkbox').DataTable();
{% endblock %}
