{% extends "xf_viz_base.html" %}
{% load nsinya_filters %}

{% block main %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Participants List</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>


                <div class="row">

                    <div class="x_content">
                        <table id="datatable-checkbox"
                               class="table table-striped table-bordered bulk_action">
                            <thead>
                            <tr>
                                <th>Pin</th>
                                {% if not hide_name %}<th>Name</th>{% endif %}
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Latest Stage</th>
                                <th width="50"></th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for participant in participants %}

                                <tr>
                                    <td>{{ participant.pin }}</td>
                                    {% if not hide_name %}<td>{{ participant.name }} {{ participant.surname }}</td>{% endif %}
                                    <td>{{ participant.age }}</td>
                                    <td>{{ participant.get_gender_display }}</td>
                                    <td>{{ participant.get_latest_stage_display }}</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm" type="button"
                                                onclick="location.href='{% url 'nsinya:participant-dashboard' pin=participant.pin %}'"
                                                title="View"><i class="fa fa-eye"></i> View
                                        </button>
                                        <!--<a class="btn btn-default btn-sm"
                                           href="{% url 'admin:nsinya_participant_change' participant.id %}"
                                           title="Edit" target="_blank"><i class="fa fa-pencil"></i> Edit</a> -->
                                    </td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block starterjs %}
    $('#datatable-checkbox').DataTable();
{% endblock %}
