{% extends "xf_viz_base.html" %}

{% block main %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div>
                <h2>
                    <label>{{ participant.name }} {{ participant.surname }} - {{ participant.pin }}</label>
                    <label class="{% if reception_in == 'N/A' %} fa fa-circle-thin{% endif %}{% if reception_in != 'N/A' %} fa fa-adjust {% endif %}
                    {% if reimbursement != 'N/A' %}fa fa-circle{% endif %}"/>
                    {%  if participant.eligible_for_sputum and participant.eligible_for_sputum == '1' %}<span class="label label-warning">Eligible For Sputum</span>{% endif %}
                </h2>
            </div>

            <div class="ln_solid"></div>

            <div class="x_content" style="height: 140px; padding: 0em 1.5em; margin-bottom: 3em; overflow: auto">
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3    col-xs-12" for="name">Pin:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.pin }}</div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Is elegible age:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.get_is_elegible_age_display|default_if_none:'' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.name }}</div>
                     <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Is permanent resident:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.get_is_permanent_resident_display|default_if_none:'' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Surname:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.surname|default_if_none:'' }}</div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Household surname:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.household_surname|default_if_none:'' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Gender:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.get_gender_display }}</div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Relationship hh:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.get_relationship_hh_display|default_if_none:'' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Age:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.age }}</div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Occupation:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.occupation|default_if_none:'' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Is head of hh:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.get_is_head_of_hh_display|default_if_none:''   }}</div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Academic level:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.get_academic_level_display|default_if_none:'' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Is leaving at house:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.get_is_leaving_at_house_display|default_if_none:'' }}</div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Marital status:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.get_marital_status_display|default_if_none:'' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Is sleeping for weeks:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.get_is_sleeping_for_weeks_display|default_if_none:'' }}</div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Participant's registration
                        reference:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">
                        {{ participant.census.cluster_code }}{{ participant.census.household_number }}</div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="ln_solid"></div>
            <div class="x_content">

                <div class="col-xs-3">
                    <!-- required for floating -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-left">

                        <li class="active">
                            <a href="#reception_in" data-toggle="tab"><span>Reception/IN</span>
                                <span class="{% if reception_in != 'N/A' %}fa fa-check{% endif %}"/></a>
                        </li>

                        <li><a href="#symptom_screening" data-toggle="tab"><span>Symptom Screening</span>
                            <span class="{% if symptom_screening != 'N/A' %}fa fa-check{% endif %}"/>
                        </a>
                        </li>

                        <li><a href="#risk_factors" data-toggle="tab"><span>Risk Factors</span>
                            <span class="{% if risk_factors != 'N/A' %}fa fa-check{% endif %}"/></a></li>

                        <li><a href="#xray" data-toggle="tab"><span>X-Ray</span>
                            <span class="{% if xray != 'N/A' %}fa fa-check{% endif %}"/></a>
                        </li>

                        <li><a href="#cad4tb" data-toggle="tab">
                            <span>CAD4TB</span><span class="{% if cad4tb != 'N/A' %}fa fa-check{% endif %}"/></a>
                        </li>

                        <li><a href="#hiv_screening" data-toggle="tab">
                            <span>HIV Screening</span> <span
                                class="{% if hiv_screening != 'N/A' %}fa fa-check{% endif %}"/></a></li>

                        <li><a href="#sputum_collection" data-toggle="tab"><span>Sputum Collection</span><span
                                class="{% if sputum_collection != 'N/A' %}fa fa-check{% endif %}"/></a>
                        </li>

                        <li><a href="#gene_xpert" data-toggle="tab"><span>GeneXpert</span><span
                                class="{% if gene_xpert != 'N/A' %}fa fa-check{% endif %}"/></a>
                        </li>

                        <li><a href="#reimbursement" data-toggle="tab"><span>Reimbursement</span><span
                                class="{% if reimbursement != 'N/A' %}fa fa-check{% endif %}"/></a>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-9">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="reception_in">
                            <p class="lead">Reception/IN</p>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Consent
                                    participation</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ reception_in.get_consent_participation_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Consent
                                    participation age</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ reception_in.get_consent_participation_age_display|default_if_none:'' }}</div>
                            </div>
                        </div>
                        <div class="tab-pane" id="symptom_screening">
                            <p class="lead">Symptom Screening</p>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Visit result</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_visit_result_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Cough status</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.cough_status|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Cough weeks</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.cough_weeks|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Cough sputum</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_cough_sputum_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Sputum blood</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_sputum_blood_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Chest pain</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_chest_pain_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Chest pain
                                    weeks</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.chest_pain_weeks|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Fever status</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_fever_status_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Fever weeks</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.fever_weeks|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Night sweat</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_night_sweat_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Night sweat
                                    weeks</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.night_sweat_weeks|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Weight loss</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_weight_loss_display|default_if_none:'' }}</div>
                            </div>
                        </div>
                        <div class="tab-pane" id="risk_factors">
                            <p class="lead">Risk Factors</p>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Do you read
                                    newspaper?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.participant_read_newspaper_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Do you wacth
                                    television?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.participant_watch_tv|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Do you listen to
                                    radio?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.participant_listen_radio_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Do you work in open
                                    or closed space?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.participant_workplace_space_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Occupation?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.participant_occupation_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Did you ever work in
                                    mine?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.work_mine_history_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Did you ever work in
                                    the prision?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.work_prison_history_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Did you ever work in
                                    health care?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.work_healthcare_history_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Visited other
                                    province?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.province_visit_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Did you ever been
                                    outside Mozambique for 6 months for the last five years?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.outside_moz_history_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Do you use tabac or
                                    cigarette?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.smoking_status_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">How many cigarette
                                    did you smoke the last 24h?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.smoking_frequency_inhous_verbose|default_if_none:'' }}</div>
                            </div>
                        </div>
                        <div class="tab-pane" id="xray">
                            <p class="lead">X-Ray</p>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Xray results</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ xray.get_xray_results_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Xray date</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ xray.xray_date|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Xray time</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ xray.xray_time|default_if_none:'' }}</div>
                            </div>
                        </div>
                        <div class="tab-pane" id="cad4tb">
                            <p class="lead">CAD4TB</p>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">CAD4TB
                                    Score</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{% if xray.CAD4TB_score %}Disponivel{% endif %}</div>
                            </div>
                        </div>
                        <div class="tab-pane" id="hiv_screening">
                            <p class="lead">HIV Screening</p>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Is test done
                                    before</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ hiv_screening.get_is_test_done_before_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Last test
                                    done</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ hiv_screening.last_test_done|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">What is last
                                    result</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ hiv_screening.get_what_is_last_result_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">If hiv
                                    positive</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ hiv_screening.get_if_hiv_positive_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Exam was
                                    consented</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ hiv_screening.get_exam_was_consented_display|default_if_none:'' }}</div>
                            </div>
                        </div>
                        <div class="tab-pane" id="sputum_collection">
                            <p class="lead">Sputum Collection</p>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Date sample</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ sputum_collection.date_sample|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Sample
                                    Number</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ sputum_collection.sample_id|default_if_none:'' }}</div>
                            </div>
                        </div>
                        <div class="tab-pane" id="gene_xpert">
                            <p class="lead">GeneXpert</p>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Processing
                                    date</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ gene_xpert.testStartedOn|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Result</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ gene_xpert.resultText|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Result date</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ gene_xpert.exportedDate|default_if_none:'' }}</div>
                            </div>
                        </div>
                        <div class="tab-pane" id="reimbursement">
                            <p class="lead">Reimbursement</p>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Date of end in the
                                    field</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ reimbursement.date_end_field|default_if_none:'' }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


