{% extends "xf_base_stripped.html" %}

{% block main %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div>
                <h2>
                   <label>{{ participant.name }} {{ participant.surname }} - {{ participant.pin }}</label>
                    <label class="{% if reception_in == 'N/A' %} fa fa-circle-thin{% endif %}{% if reception_in != 'N/A' %} fa fa-adjust {% endif %}
                    {% if reimbursement != 'N/A' %}fa fa-circle{% endif %}"/>
                    {%  if participant.eligible_for_sputum and participant.eligible_for_sputum == '1' %}<span class="label label-warning">Eligible For Sputum</span>{% endif %}
                </h2>
            </div>

            <div class="ln_solid"></div>

            <div class="x_content" style="height: 140px; padding: 0em 1.5em; margin-bottom: 3em; overflow: auto">
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Pin:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.pin }}</div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Is elegible age:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.get_is_elegible_age_display|default_if_none:'' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.name }}</div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Is permanent resident:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.get_is_permanent_resident_display|default_if_none:'' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Surname:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.surname|default_if_none:'' }}</div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Household surname:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.household_surname|default_if_none:'' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Gender:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.get_gender_display|default_if_none:'' }}</div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Relationship hh:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.get_relationship_hh_display|default_if_none:'' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Age:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.age|default_if_none:'' }}</div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Occupation:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.occupation|default_if_none:'' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Is head of hh:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.get_is_head_of_hh_display|default_if_none:'' }}</div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Academic level:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.get_academic_level_display|default_if_none:'' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Is leaving at house:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.get_is_leaving_at_house_display|default_if_none:'' }}</div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Marital status:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.get_marital_status_display|default_if_none:'' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Is sleeping for weeks:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">{{ participant.get_is_sleeping_for_weeks_display|default_if_none:'' }}</div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Participant's registration
                        reference:</label>
                    <div class="control-value col-md-3 col-sm-3 col-xs-12">
                        {{ participant.census.cluster_code }}{{ participant.census.household_number|default_if_none:'' }}</div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="ln_solid"></div>
            <div class="x_content">
                <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel">
                        <a class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Reception/IN <span class="{% if reception_in != 'N/A' %}fa fa-check{% endif %}"/></h4>
                        </a>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true" style="height: 0px;">
                          <div class="panel-body">
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Consent
                                    participation</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ reception_in.get_consent_participation_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Consent
                                    participation age</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ reception_in.get_consent_participation_age_display|default_if_none:'' }}</div>
                            </div>

                          </div>
                        </div>
                    </div>
                    <div class="panel">
                        <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <h4 class="panel-title">Symptom Screening <span class="{% if symptom_screening != 'N/A' %}fa fa-check{% endif %}"/></h4>
                        </a>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                          <div class="panel-body">
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Visit result</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_visit_result_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Cough status</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.cough_status|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Cough weeks</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.cough_weeks|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Cough sputum</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_cough_sputum_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Sputum blood</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_sputum_blood_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Chest pain</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_chest_pain_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Chest pain
                                    weeks</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.chest_pain_weeks|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Fever status</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_fever_status_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Fever weeks</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.fever_weeks|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Night sweat</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_night_sweat_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Night sweat
                                    weeks</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.night_sweat_weeks|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Weight loss</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ symptom_screening.get_weight_loss_display|default_if_none:'' }}</div>
                            </div>

                          </div>
                        </div>
                    </div>

                    <div class="panel">
                        <a class="panel-heading" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <h4 class="panel-title">Risk Factors <span class="{% if risk_factors != 'N/A' %}fa fa-check{% endif %}"/></h4>
                        </a>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                          <div class="panel-body">
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Do you read
                                    newspaper?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.participant_read_newspaper_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Do you wacth
                                    television?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.participant_watch_tv|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Do you listen to
                                    radio?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.participant_listen_radio_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Do you work in open
                                    or closed space?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.participant_workplace_space_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Occupation?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.participant_occupation_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Did you ever work in
                                    mine?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.work_mine_history_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Did you ever work in
                                    the prision?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.work_prison_history_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Did you ever work in
                                    health care?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.work_healthcare_history_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Visited other
                                    province?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.province_visit_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Did you ever been
                                    outside Mozambique for 6 months for the last five years?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.outside_moz_history_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Do you use tabac or
                                    cigarette?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.smoking_status_verbose|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">How many cigarette
                                    did you smoke the last 24h?</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ risk_factors.smoking_frequency_inhous_verbose|default_if_none:'' }}</div>
                            </div>

                          </div>
                        </div>
                    </div>

                    <div class="panel">
                        <a class="panel-heading" role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <h4 class="panel-title">X-Ray <span class="{% if xray != 'N/A' %}fa fa-check{% endif %}"/></h4>
                        </a>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" aria-expanded="false">
                          <div class="panel-body">

                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Xray results</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ xray.get_xray_results_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Xray date</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ xray.xray_date|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Xray time</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ xray.xray_time|default_if_none:'' }}</div>
                            </div>

                          </div>
                        </div>
                    </div>

                    <div class="panel">
                        <a class="panel-heading" role="tab" id="headingFive" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          <h4 class="panel-title">CAD4TB <span class="{% if cad4tb != 'N/A' %}fa fa-check{% endif %}"/></h4>
                        </a>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" aria-expanded="false">
                          <div class="panel-body">

                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">CAD4TB
                                    score</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{% if xray.CAD4TB_score %}Disponivel{% endif %}</div>
                            </div>

                          </div>
                        </div>
                    </div>

                    <div class="panel">
                        <a class="panel-heading" role="tab" id="headingSix" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          <h4 class="panel-title">HIV Screening <span class="{% if hiv_screening != 'N/A' %}fa fa-check{% endif %}"/></h4>
                        </a>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix" aria-expanded="false">
                          <div class="panel-body">

                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Is test done
                                    before</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ hiv_screening.get_is_test_done_before_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Last test
                                    done</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ hiv_screening.last_test_done|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">What is last
                                    result</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ hiv_screening.get_what_is_last_result_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">If hiv
                                    positive</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ hiv_screening.get_if_hiv_positive_display|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Exam was
                                    consented</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ hiv_screening.get_exam_was_consented_display|default_if_none:'' }}</div>
                            </div>

                          </div>
                        </div>
                    </div>

                    <div class="panel">
                        <a class="panel-heading" role="tab" id="headingSeven" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                          <h4 class="panel-title">Sputum Collection <span class="{% if sputum_collection != 'N/A' %}fa fa-check{% endif %}"/></h4>
                        </a>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven" aria-expanded="false">
                          <div class="panel-body">

                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Date sample</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ sputum_collection.date_sample|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Sample
                                    Number</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ sputum_collection.num_sample|default_if_none:'' }}</div>
                            </div>

                          </div>
                        </div>
                    </div>

                    <div class="panel">
                        <a class="panel-heading" role="tab" id="headingEight" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                          <h4 class="panel-title">GeneXpert <span class="{% if gene_xpert != 'N/A' %}fa fa-check{% endif %}"/></h4>
                        </a>
                        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight" aria-expanded="false">
                          <div class="panel-body">

                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Processing
                                    date</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ gene_xpert.testStartedOn|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Result</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ gene_xpert.resultText|default_if_none:'' }}</div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Result date</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ gene_xpert.exportedDate|default_if_none:'' }}</div>
                            </div>

                          </div>
                        </div>
                    </div>

                    <div class="panel">
                        <a class="panel-heading" role="tab" id="headingNine" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                          <h4 class="panel-title">Reimbursement <span class="{% if reimbursement != 'N/A' %}fa fa-check{% endif %}"/></h4>
                        </a>
                        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine" aria-expanded="false">
                          <div class="panel-body">

                            <div class="row">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">Date of end in the
                                    field</label>
                                <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ reimbursement.date_end_field|default_if_none:'' }}</div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}


