{% extends "xf_viz_base.html" %}

{% block main %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Lista de Leituras de Raio-X</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>


                <div class="row">

                    <div class="x_content">
                        <table id="datatable-checkbox"
                               class="table table-striped table-bordered bulk_action">
                            <thead>
                            <tr>
                                <th>PIN</th>
                                <th>Idade</th>
                                <th>Sexo</th>
                                <th>Estado da leitura</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for participant in participants %}

                                <tr>
                                    <td>{{ participant.pin }}</td>
                                    <td>{{ participant.age }}</td>
                                    <td>{{ participant.get_gender_display }}</td>
                                    <td>
                                        {% if participant.central_cxr_reading == None %}
                                            <span class="label label-info">Não Feita</span>
                                        {% elif participant.central_cxr_reading.reading_status == '1' %}
                                            <span class="label label-warning label-md">{{ participant.central_cxr_reading.get_reading_status_display }}</span>
                                        {% elif participant.central_cxr_reading.reading_status == '2' %}
                                            <span class="label label-success">{{ participant.central_cxr_reading.get_reading_status_display }}</span>
                                        {% endif %}

                                    </td>
                                    <td>
                                        <button class="btn btn-primary btn-sm" type="button"
                                                onclick="location.href='{% url 'nsinya:read-participant-cxr' pin=participant.pin %}'"
                                                title="Ler"><i class="fa fa-eye"></i>
                                        </button>
                                    </td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block starterjs %}
    $('#datatable-checkbox').DataTable();
{% endblock %}
