{% load dashgent_filters %}

{% with id=widget.attrs.id %}
    <ul{% if id %} id="{{ id }}"{% endif %}{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}
                   class="flat input-sm">
        {% for group, options, index in widget.optgroups %}
            {% if group %}
                <li>{{ group }}
                <ul{% if id %} id="{{ id }}_{{ index }}"{% endif %}>
            {% endif %}
        {% for option in options %}
            {% if  option.value != '' %}
                <li style="display: inline-block">
                    <label>
                        <input type="radio" name="{{ option | lookup:'name' }}" value="{{ option.value }}"
                               class="flat" style="position: absolute; opacity: 0;" disabled="{{ widget.attrs.class }}">
                        {{ option.label }}
                    </label>
                </li>
            {% endif %}

        {% endfor %}
        {% if group %}
            </ul>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
{% endwith %}