/* Changes the left side color*/
.nav_title, .left_col, .sidebar-footer, body {
    background: #000;
}

/*Changes the scroll bar color*/
.nav.side-menu>li.current-page,
.nav.side-menu>li.active {
    border-right-color: rgb(187, 152, 26);
}