{% extends "xf_viz_base.html" %}
{% load dashgent_filters %}
{% load i18n %}
{% block main %}

    <div class="page-title">
        <div class="title_left">
            <h3>{% trans "Bem vindo ao Nsinya" %}</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Synopsis</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-8 mail_list_column">
                            Uma breve introdução sobre o Nsinya
                        </div>
                        <!-- /Welcome panerl-->

                        <!-- LOGIN MAIL -->
                        <div class="col-sm-4 mail_view">
                        {% if user.is_authenticated %}

                        {% endif %}
                        {% if not user.is_authenticated %}
                            <div class="jubmbotron">
                                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left"
                                      novalidate="" name="LoginForm" action="" method="post">
                                    {% csrf_token %}
                                    {% if next %}
                                        <input type="hidden" name="next" value="/"/>
                                    {% endif %}
                                    <p>Digite as suas credências para efectuar o login</p>
                                    {% if login_incorrect %}
                                        <p>The username and/or password is not correct.</p>
                                    {% endif %}
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="username">User
                                            name<span class="required">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" id="username" name="username" required="required"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12"
                                               for="password">Password<span class="required">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="password" name="password" id="password" required="required"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-10 col-sm-4 col-xs-12 col-md-offset-4">
                                            <button type="submit" class="btn btn-success btn-sm">Log in</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            {% endif %}

                        </div>
                        <!-- /LOGIN MAIL -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}