{% extends "xf_viz_base.html" %}

{% block main %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% for message in messages %}
                {% if forloop.first %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endif %}
            {% endfor %}

            <div class="x_panel">
                <div class="x_title">
                    <h2>Clusters</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>


                <div class="row">

                    <div class="x_content">
                        <table id="datatable-checkbox"
                               class="table table-striped table-bordered bulk_action">
                            <thead>
                            <tr>
                                <th>Cluster Code #</th>
                                <th>Status</th>
                                <th width="200"></th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for cluster in clusters %}

                                <tr>
                                    <td>{{ cluster.code }}</td>
                                    <td>{{ cluster.get_status_display }}</td>
                                    <td>
                                        {% if  cluster.status == '0' %}
                                            <button class="btn btn-success btn-sm" type="button"
                                                    onclick="location.href='{% url 'nsinya:cluster-status-update' cluster_code=cluster.code status=1 %}'"
                                                    title="Activate"><i class="fa fa-folder-open-o"></i> Open
                                            </button>
                                        {% else %}
                                            {% if cluster.status == '1' %}
                                                <button class="btn btn-primary btn-sm" type="button"
                                                    onclick="location.href='{% url 'nsinya:cluster-status-update' cluster_code=cluster.code status=2 %}'"
                                                    title="View Batches"><i class="fa fa-folder-o"></i> Close
                                                </button>
                                            {% endif %}
                                            <button class="btn btn-primary btn-sm" type="button"
                                                    onclick="location.href='{% url 'nsinya:cluster-batches' cluster_id=cluster.id %}'"
                                                    title="View Batches"><i class="fa fa-eye"></i> View Batches
                                            </button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block starterjs %}
    $('#datatable-checkbox').DataTable();
{% endblock %}
