{% extends "xf_viz_base.html" %}

{% block main %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

            {% for message in messages %}
                {%  if forloop.first  %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endif %}
            {% endfor %}

            <div class="x_panel">
                <div class="x_title">
                    <h2>Batch Reception</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="row">

                    <div class="x_content">
                        <form class="form-horizontal form-label-left" method="post"
                              action="{% url 'nsinya:batch-reception' %}">
                            {% csrf_token %}

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Batch id</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="batchId" id="batchId"
                                               required="required" autofocus="autofocus" onChange="this.form.submit();">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary">Find Batch</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                        <div class="ln_solid"></div>
                        <table id="datatable-checkbox"
                               class="table table-striped table-bordered bulk_action">
                            <thead>
                            <tr>
                                <th>Batch id</th>
                                <th>Send Date</th>
                                <th>Sent samples</th>
                                <th>Reception Date</th>
                                <th>Received samples</th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for batch in batches %}

                                <tr>
                                    <td>{{ batch.batch_id }}</td>
                                    <td>{{ batch.send_date }}</td>
                                    <td>{{ batch.total_sent_samples }}</td>
                                    <td>{{ batch.reception.reception_date }}</td>
                                    <td>{{ batch.reception.total_received_samples }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block starterjs %}
    $('#datatable-checkbox').DataTable();
{% endblock %}
