{% extends "xf_viz_base.html" %}

{% block main %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('[name="culture_result"]').change(function () {
                var result = this.value;

                if (result == '1') {
                    $('[name="gradation"]').prop('disabled', false);
                    $('[name="gradation"]').prop('required', true);
                }
                else {
                    $('[name="gradation"]').prop('value', '');
                    $('[name="gradation"]').prop('disabled', true);
                    $('[name="gradation"]').prop('required', false);
                }
            })
        });
    </script>
    <div class="col-md-12 col-sm-12 col-xs-12">
        {% for message in messages %}
            {% if forloop.first %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
        {% endfor %}

        <div class="x_panel">
            <div class="x_title">
                <h2>Culture Reading</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% if not sample_id %}
                    <form class="form-horizontal form-label-left" method="post"
                          action="{% url 'nsinya:culture-reading' %}">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Sample ID</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="sampleid" id="sampleid"
                                           required="required" autofocus="autofocus" onChange="this.form.submit();">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">Find Sample</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <form class="form-horizontal form-label-left"
                          action="{% url 'nsinya:culture-reading' sample_id=sample_id %}"
                          method="post">
                        {% csrf_token %}
                        {% for field in form %}

                            <div class="form-group has-feedback">
                                <label class="control-label col-sm-2"
                                       for="id_{{ field.name }}">{{ field.label }}</label>
                                <div class="col-sm-3">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="clearfix"></div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-2">
                                <button type="submit" class="btn btn-primary ">Save</button>
                                <button class="btn btn-primary " type="button" title="Find Sample"
                                        onclick="location.href='{% url 'nsinya:culture-reading' %}'">Next Sample
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="clearfix"></div>
                    <h2>Previous readings</h2>
                    <table id="datatable-checkbox"
                           class="table table-striped table-bordered bulk_action">
                        <thead>
                        <tr>
                            <th>Positivity week</th>
                            <th>Culture result</th>
                            <th>Gradation</th>
                            <th>Tube</th>
                            <th>Technician name</th>
                            <th>Result Date</th>
                            <th>Validated by</th>
                            <th>Validation Date</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for culture in cultures %}

                            <tr>
                                <td>{{ culture.get_positivity_week_display }}</td>
                                <td>{{ culture.get_culture_result_display }}</td>
                                <td>{{ culture.get_gradation_display|default_if_none:'' }}</td>
                                <td>{{ culture.get_tube_display|default_if_none:'' }}</td>
                                <td>{{ culture.technician_name }}</td>
                                <td>{{ culture.result_date }}</td>
                                <td>{{ culture.validated_by.get_full_name|default_if_none:'' }}</td>
                                <td>{{ culture.validation_date|default_if_none:'' }}</td>
                                <td>
                                    {% if show_edit_button and culture.validated_by is None %}
                                        <button class="btn btn-primary btn-sm" type="button" title="Edit"
                                                onclick="location.href='{% url 'nsinya:culture-edit' culture_id=culture.id %}'">
                                            <i class="fa fa-edit"></i> Edit
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

