{% extends "xf_viz_base.html" %}

{% block main %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Cultures</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="buttons">
                    <button class="btn btn-primary alignright" type="button" title="Culture Reading"
                            onclick="location.href='{% url 'nsinya:create-culture' %}'">New</button>
                </div>
                <div class="row">

                    <div class="x_content">
                        <table id="datatable-checkbox"
                               class="table table-striped table-bordered bulk_action">
                            <thead>
                            <tr>
                                <th>Sample id</th>
                                <th>Positivity week</th>
                                <th>Culture result</th>
                                <th>Gradation</th>
                                <th>Technician name</th>
                                <th>Result Date</th>
                                <th>Validated by</th>
                                <th>Validation Date</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for culture in cultures %}

                                <tr>
                                    <td>{{ culture.sample_id }}</td>
                                    <td>{{ culture.get_positivity_week_display }}</td>
                                    <td>{{ culture.get_culture_result_display }}</td>
                                    <td>{{ culture.get_gradation_display|default_if_none:'' }}</td>
                                    <td>{{ culture.technician_name }}</td>
                                    <td>{{ culture.result_date }}</td>
                                    <td>{{ culture.validated_by.get_full_name|default_if_none:'' }}</td>
                                    <td>{{ culture.validation_date|default_if_none:'' }}</td>
                                    <td>
                                        <a class="btn btn-default btn-sm"
                                           href="{% url 'admin:nsinya_culture_change' culture.id %}"
                                           title="Edit" target="_blank"><i class="fa fa-pencil"></i> Edit</a>
                                        {% if not culture.validated_by %}
                                            <button class="btn btn-default btn-sm" type="button" title="Validate"
                                                    onclick="location.href='{% url 'nsinya:culture-validation' culture_id=culture.id %}'">
                                                <i class="fa fa-check-square-o"></i> Validate
                                            </button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block starterjs %}
    $('#datatable-checkbox').DataTable();
{% endblock %}
