{% extends "xf_viz_base.html" %}

{% block main %}
    <script type="text/javascript">
        $(document).ready(function () {

            if ($('[name="culture_result"]').prop('value') == '1') {
                $('[name="gradation"]').prop('disabled', false);
                $('[name="gradation"]').prop('required', true);
            }

            $('[name="culture_result"]').change(function () {
                var result = this.value;

                if (result == '1') {
                    $('[name="gradation"]').prop('disabled', false);
                    $('[name="gradation"]').prop('required', true);
                }
                else {
                    $('[name="gradation"]').prop('value', '');
                    $('[name="gradation"]').prop('disabled', true);
                    $('[name="gradation"]').prop('required', false);
                }
            })
        });
    </script>
    <div class="col-md-12 col-sm-12 col-xs-12">
        {% for message in messages %}
            {% if forloop.first %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
        {% endfor %}

        <div class="x_panel">
            <div class="x_title">
                <h2>Edit Culture</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal form-label-left"
                      action="{% url 'nsinya:culture-edit' culture_id=culture_id %}"
                      method="post">
                    {% csrf_token %}
                    {% for field in form %}

                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-2"
                                   for="id_{{ field.name }}">{{ field.label }}</label>
                            <div class="col-sm-3">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-2">
                            <button type="submit" class="btn btn-primary ">Save</button>
                            <button class="btn btn-default" type="button" title="Cancel"
                                    onclick="location.href='{% url 'nsinya:culture-reading' sample_id=culture.sample_id %}'">Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

