{% extends "xf_viz_base.html" %}

{% block main %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        {% for message in messages %}
            {% if forloop.first %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
        {% endfor %}

        <div class="x_panel">
            <div class="x_title">
                <h2>Culture Reading Validation</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% if not sample_id %}
                    <form class="form-horizontal form-label-left" method="post"
                          action="{% url 'nsinya:culture-validation' %}">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Sample ID</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="sampleid" id="sampleid"
                                           required="required" autofocus="autofocus" onChange="this.form.submit();">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">Find Sample</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>

                     <div class="clearfix"></div>
                    <form class="form-horizontal form-label-left"
                          action="{% url 'nsinya:validate-cultures' %}"
                          method="post">
                        {% csrf_token %}
                    <table id="datatable-checkbox"
                           class="table table-striped table-bordered bulk_action">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Sample Id</th>
                            <th>Tube</th>
                            <th>Positivity week</th>
                            <th>Culture result</th>
                            <th>Gradation</th>
                            <th>Technician name</th>
                            <th>Result Date</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for culture in cultures %}

                            <tr>
                                <td>
                                    {% if not culture.validated_by %}
                                        <input type="checkbox"  name="selected_culture_id" value="{{ culture.id}}" class="flat">
                                    {% endif %}
                                </td>
                                <td>{{ culture.sample_id }}</td>
                                <td>{{ culture.tube }}</td>
                                <td>{{ culture.get_positivity_week_display }}</td>
                                <td>{{ culture.get_culture_result_display }}</td>
                                <td>{{ culture.get_gradation_display|default_if_none:'' }}</td>
                                <td>{{ culture.technician_name }}</td>
                                <td>{{ culture.result_date }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                     {% if show_validate_button %}<button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> Validate</button>{% endif %}
                    </form>
                {% else %}
                    <form class="form-horizontal form-label-left"
                          action="{% url 'nsinya:validate-cultures' sample_id=sample_id %}"
                          method="post">
                        {% csrf_token %}
                    <h4>Sample: {{ sample_id }}</h4>
                    <table id="datatable-checkbox"
                           class="table table-striped table-bordered bulk_action">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Tube</th>
                            <th>Positivity week</th>
                            <th>Culture result</th>
                            <th>Gradation</th>
                            <th>Technician name</th>
                            <th>Result Date</th>
                            <th>Validated by</th>
                            <th>Validation Date</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for culture in cultures %}

                            <tr>
                                <td>
                                    {% if not culture.validated_by %}
                                        <input type="checkbox"  name="selected_culture_id" value="{{ culture.id}}" class="flat">
                                    {% endif %}
                                </td>
                                <td>{{ culture.tube }}</td>
                                <td>{{ culture.get_positivity_week_display }}</td>
                                <td>{{ culture.get_culture_result_display }}</td>
                                <td>{{ culture.get_gradation_display|default_if_none:'' }}</td>
                                <td>{{ culture.technician_name }}</td>
                                <td>{{ culture.result_date }}</td>
                                <td>{{ culture.validated_by.get_full_name|default_if_none:'' }}</td>
                                <td>{{ culture.validation_date|default_if_none:'' }}</td>

                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                     {% if show_validate_button %}<button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> Validate</button>{% endif %}
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block starterjs %}
    $('#datatable-checkbox').DataTable();
{% endblock %}
