{% extends "xf_viz_base.html" %}

{% block main %}
<script type="text/javascript">
$(document).ready(function () {
    $('[name="acceptability"]').change(function () {
        var acceptability = this.value;

        if (acceptability == '2') {
            $('[name="rejection_reason"]').prop('disabled', false);
            $('[name="rejection_reason"]').prop('required',true);
            $('[name="problematic_sample"]').prop('disabled', false);
            $('[name="problematic_sample"]').prop('required',true);
        }
        else {
            $('[name="rejection_reason"]').prop('value', '');
            $('[name="rejection_reason"]').prop('disabled', true);
            $('[name="rejection_reason"]').prop('required',false);
            $('[name="problematic_sample"]').prop('value', '');
            $('[name="problematic_sample"]').prop('disabled', true);
            $('[name="problematic_sample"]').prop('required',false);
        }
    })
});
</script>
    <div class="col-md-12 col-sm-12 col-xs-12">
        {% for message in messages %}
            {% if forloop.first %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
        {% endfor %}
        <div class="x_panel">

            <div class="x_title">
                <h2>Orphan Sample</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% if not sample_id %}
                    <form class="form-horizontal form-label-left" method="post"
                          action="{% url 'nsinya:receive-orphan-sample' %}">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Sample ID</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="sample_id" id="sample_id"
                                           required="required" autofocus="autofocus" onChange="this.form.submit();">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">Find Sample</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <form class="form-horizontal form-label-left"
                          action="{% url 'nsinya:receive-orphan-sample' sample_id=sample_id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-2">Sample ID</label>
                            <div class="col-sm-3"><input type="text" class="form-control" value="{{ sample_id }}"
                                                         disabled="disabled"></div>
                        </div>
                        {% for field in form %}

                            <div class="form-group has-feedback">
                                <label class="control-label col-sm-2"
                                       for="id_{{ field.name }}">{{ field.label }}</label>
                                <div class="col-sm-3">
                                    {{ field }}
                                </div>
                            </div>

                        {% endfor %}
                        <div class="clearfix"></div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-2">
                                <button type="submit" class="btn btn-primary">Mark as received</button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}