{% extends "xf_viz_base.html" %}

{% block main %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_title">
                <h2>Batch {{ batch.batch_id }}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="row">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Batch id:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ batch.batch_id }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Packaged by:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ batch.packaged_by|default_if_none:'N/A' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Packaging date:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ batch.packaging_date|default_if_none:'N/A' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Total sent samples:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ batch.total_sent_samples|default_if_none:'N/A' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Send date:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ batch.send_date|default_if_none:'N/A' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Field Temperature:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ batch.temperature|default_if_none:'N/A' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Central Temperature:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ batch.reception.temperature|default_if_none:'N/A' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Handed over by:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ batch.handed_over_by|default_if_none:'N/A' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Handover date:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ batch.handover_date|default_if_none:'N/A' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Carrier driver name:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ batch.carrier_driver_name|default_if_none:'N/A' }}</div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Carrier reception date:</label>
                    <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ batch.carrier_reception_date|default_if_none:'N/A' }}</div>
                </div>

                <div class="ln_solid"></div>
                {% if not batch.reception %}
                    <form class="form-horizontal form-label-left"
                          action="{% url 'nsinya:receive-batch' batch_id=batch.batch_id %}" method="post">
                        {% csrf_token %}
                        {% for field in form %}

                            <div class="form-group has-feedback">
                                <label class="control-label col-sm-2"
                                       for="id_{{ field.name }}">{{ field.label }}</label>
                                <div class="col-sm-3">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="clearfix"></div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">Mark as received</button>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <button class="btn btn-primary" type="button"
                                    onclick="location.href='{% url 'nsinya:receive-sample' batch_id=batch.batch_id %}'"
                                    title="View"><i class="fa fa-check"></i> Receive Samples
                            </button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}