
{% extends "xf_viz_base.html" %}
{% load nsinya_filters %}
{% block main %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Sample List</h2>
                     <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="x_content">
                        <table id="datatable-checkbox"
                               class="table table-striped table-bordered bulk_action">
                            <thead>
                            <tr>
                                <th>Sample #</th>
                                <th>Reception Date</th>
                                <th>Culture</th>
                                <th>Smear</th>
                                <th>Genotype CM</th>
                                <th>Genotype MTBDR</th>
                                <th>Ziehl</th>


                            </tr>
                            </thead>
                            <tbody>
                            {% for sample in samples %}
                                <tr>
                                    <td>{{sample.sample_id}}</td>
                                    <td>{{sample.sample_id|get_date_reception_date}}</td>
                                    <td>{{sample.sample_id|get_date_positivity_week}}</td>
                                    <td>{{sample.sample_id|get_date_smear_result }}</td>
                                    <td>{{sample.sample_id|get_date_genoCM_result }}</td>
                                    <td>{{sample.sample_id|get_date_genoMT_result }}</td>
                                    <td>{{sample.sample_id|get_date_ziehl_result}}</td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block starterjs %}
    $('#datatable-checkbox').DataTable();
{% endblock %}
