{% extends "xf_viz_base.html" %}

{% block main %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        {% for message in messages %}
            {% if forloop.first %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
        {% endfor %}

        <div class="x_panel">

            <div class="x_title">
                <h2>Smear</h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                {% if not sample_id %}
                    <form class="form-horizontal form-label-left" method="post"
                          action="{% url 'nsinya:smear-listing' %}">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Sample ID</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="sample_id" id="sample_id"
                                           required="required" autofocus="autofocus" onChange="this.form.submit()">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">Find Sample</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <form class="form-horizontal form-label-left">

                        <div class="form-group">
                            <label class="control-label col-sm-2">Sample ID</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" value="{{ sample_id }}"
                                       disabled="disabled">
                            </div>
                        </div>
                    </form>
                {% endif %}

                <div class="ln_solid"></div>
                <form class="form-horizontal form-label-left"
                      action={% if sample_id %}"{% url 'nsinya:validate-smear' sample_id=sample_id %}"{% else %}"
                          {% url 'nsinya:validate-smear' %}"{% endif %}
                method="post">
                {% csrf_token %}
                <table id="datatable-checkbox" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Sample id</th>
                        <th>Bacilloscopy Result</th>
                        <th>Technician</th>
                        <th>Result date</th>
                        <th>Result time</th>
                        <th>Validated by</th>
                        <th>Validation Date</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for smear in smears %}

                        <tr>
                            <td>
                                {% if not smear.validated_by %}
                                    <input type="checkbox" name="selected_ids" value="{{ smear.id }}"
                                           class="flat">
                                {% endif %}
                            </td>
                            <td>{{ smear.sample_id }}</td>
                            <td>{{ smear.get_bacil_display }}</td>
                            <td>{{ smear.technician }}</td>
                            <td>{{ smear.result_date }}</td>
                            <td>{{ smear.result_time }}</td>
                            <td>{{ smear.validated_by.get_full_name|default_if_none:'' }}</td>
                            <td>{{ smear.validation_date|default_if_none:'' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </table>
                {% if show_validate_button %}
                    <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> Validate
                    </button>{% endif %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block starterjs %}
    $('#datatable-checkbox').DataTable();
{% endblock %}