{% extends "xf_viz_base.html" %}

{% block main %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% for message in messages %}
                {% if forloop.first %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endif %}
            {% endfor %}
            <div class="x_panel">
                <div class="x_title">
                    <h2>TSA</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="buttons">
                    <button class="btn btn-primary alignright" type="button" title="Culture Reading"
                            onclick="location.href='{% url 'nsinya:create-tsa' %}'">New
                    </button>
                </div>
                <div class="row">

                    <div class="x_content">
                        <form class="form-horizontal form-label-left"
                              action="{% url 'nsinya:tsa-validation' %}" method="post">
                            {% csrf_token %}
                            <table id="datatable-checkbox"
                                   class="table table-striped table-bordered bulk_action">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Sample id</th>
                                    <th>Blood Agar Plate</th>
                                    <th>Acceptability</th>
                                    <th>TSA result</th>
                                    <th>Technician code</th>
                                    <th>Result Date</th>
                                    <th>Validated by</th>
                                    <th>Validation Date</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>

                                {% for tsa in tsas %}

                                    <tr>
                                        <td>
                                            {% if not tsa.validated_by %}
                                                <input type="checkbox" name="selected_ids" value="{{ tsa.id }}"
                                                       class="flat">
                                            {% endif %}
                                        </td>
                                        <td>{{ tsa.sample_id }}</td>
                                        <td>{{ tsa.get_blood_result_display }}</td>
                                        <td>{{ tsa.get_acceptability_display }}</td>
                                        <td>{{ tsa.get_TSA_result_display }}</td>
                                        <td>{{ tsa.technician_code }}</td>
                                        <td>{{ tsa.result_date }}</td>
                                        <td>{{ tsa.validated_by.get_full_name|default_if_none:'' }}</td>
                                        <td>{{ tsa.validation_date|default_if_none:'' }}</td>
                                        <td>
                                            <a class="btn btn-default btn-sm"
                                               href="{% url 'admin:nsinya_tsa_change' tsa.id %}"
                                               title="Edit" target="_blank"><i class="fa fa-pencil"></i> Edit</a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            {% if show_validate_button %}
                                <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i>
                                    Validate
                                </button>{% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block starterjs %}
    $('#datatable-checkbox').DataTable();
{% endblock %}
