{% extends "xf_viz_base.html" %}

{% block main %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_title">
                <h2>Validate TSA</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="" action="{% url 'nsinya:tsa-validation' tsa_id=tsa.id%}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Sample id:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ tsa.sample_id }}</div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Blood Agar Plate:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ tsa.get_blood_result_display }}</div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Acceptability:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ tsa.get_acceptability_display }}</div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">TSA result:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ tsa.get_TSA_result_display }}</div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">H:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ tsa.get_TSA_1_H_result_display|default_if_none:'' }}</div>
                    </div>
                     <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">R:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ tsa.get_TSA_1_R_result_display|default_if_none:'' }}</div>
                    </div>
                     <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Z:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ tsa.get_TSA_1_Z_result_display|default_if_none:'' }}</div>
                    </div>
                     <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">E:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ tsa.get_TSA_1_E_result_display|default_if_none:'' }}</div>
                    </div>
                     <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">S:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ tsa.get_TSA_1_S_result_display|default_if_none:'' }}</div>
                    </div>
                     <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">AM:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ tsa.get_TSA_2_Am_result_display|default_if_none:'' }}</div>
                    </div>
                     <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">KA:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ tsa.get_TSA_2_Ka_result_display|default_if_none:'' }}</div>
                    </div>
                     <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">CM:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ tsa.get_TSA_2_Cm_result_display|default_if_none:'' }}</div>
                    </div>
                     <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">OFL:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ tsa.get_TSA_2_Ofl_result_display|default_if_none:''    }}</div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Technician code:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ tsa.technician_code }}</div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Result Date:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ tsa.result_date }}</div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">Validate</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}