{% extends "xf_base.html" %}

{% block main %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_title">
                <h2>Validate Smear</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="" action="{% url 'nsinya:validate-smear' smear_id=smear.id%}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Sample id:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ smear.sample_id }}</div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Bacilloscopy Result:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ smear.get_bacil_display }}</div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Technician:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ smear.technician }}</div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Result time:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ smear.result_time }}</div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Result Date:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ smear.result_date }}</div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">Validate</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}