{% extends "xf_viz_base.html" %}

{% block main %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_title">
                <h2>Validate Culture Reading</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="" action="{% url 'nsinya:validate-culture' culture_id=culture.id%}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Sample id:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ culture.sample_id }}</div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Culture Result:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ culture.get_culture_result_display }}</div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Positivity Week:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ culture.get_positivity_week_display }}</div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Gradation:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ culture.get_gradation_display }}</div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Techinician code:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ culture.technician_name }}</div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Result Date:</label>
                        <div class="control-value col-md-6 col-sm-6 col-xs-12">{{ culture.result_date }}</div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">Validate</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}