{% extends "xf_viz_base.html" %}
{% load nsinya_filters %}
{% block main %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        {% for message in messages %}
            {% if forloop.first %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
        {% endfor %}

        <div class="x_panel">

            <div class="x_title">
                <h2>Worksheet</h2>
                <div class="clearfix"></div>
            </div>


            <div class="x_content">

                <div class="form-group has-feedback">
                    <label class="control-label col-sm-1">Worksheet</label>
                    <div class="col-sm-4">{{ worksheet.code }}</div>
                </div>

                <div class="x_content">

                    <div class="form-group">
                        <label class="control-label col-sm-2">Type:</label>
                        <label class="control-label col-sm-2">{{ worksheet.get_type_display }}</label>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Inoculation date:</label>
                        <label class="control-label col-sm-2">{{ worksheet.inoculation_date }}</label>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Total:</label>
                        <label class="control-label col-sm-2">{{ worksheet_samples.count }}</label>
                    </div>

                    <div class="clearfix"></div>
                    <br/>

                    <form class="form-horizontal form-label-left" method="post"
                          action="{% url 'nsinya:worksheet-edit' worksheet_id=worksheet.id %}">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Sample ID</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                <span class="input-group-btn">

                                    <input type="text" class="form-control" name="sample_id" id="sample_id" value=""
                                           autofocus="autofocus" onChange="this.form.submit()"/>
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </span>
                                </div>
                            </div>
                        </div>

                    </form>


                    <table id="datatable-checkbox" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Sample id</th>
                            <th>Date sample</th>
                            <th>Aspect sample</th>
                            <th>Volume(ml)</th>
                            <th/>
                        </tr>
                        </thead>

                        <tbody>

                        {% for sample in worksheet_samples.all %}
                            <tr>
                                <td id="list">{{ sample.sample_id }}</td>
                                <td>{{ sample.sample_id|get_date_sample }}</td>
                                <td>{{ sample.sample_id|get_date_aspect }}</td>
                                <td>{{ sample.sample_id|get_date_volume }}</td>
                                <td>
                                    <button class="btn btn-default"
                                            title="Remove"
                                            onclick="location.href='{% url 'nsinya:worksheet-edit-list' sample_id=sample.sample_id worksheet_id=worksheet.id remove='true' %}'">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

{% endblock %}
