{% extends "xf_viz_base.html" %}
{% load nsinya_filters %}

{% block main %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        {% for message in messages %}
            {% if forloop.first %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
        {% endfor %}

        <div class="x_panel">

            <div class="x_title">
                <h2>Worksheet</h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <form class="form-horizontal form-label-left" method="post"
                      action="{% url 'nsinya:worksheet-creation' %}">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Worksheet type</label>
                        <div class="col-sm-4">
                            <select name="worksheet_type" class="input-sm form-control">
                                <option onclick="location.href='{% url 'nsinya:worksheet-creation' type=0 %}'">---------</option>

                                {% for w_type in worksheet_types %}

                                    {% if ws_selected and ws_selected == w_type.0 %}

                                        <option value="{{ w_type.0 }}" selected
                                                onclick="location.href='{% url 'nsinya:worksheet-creation' type=w_type.0 %}'">
                                            {{ w_type.1 }}
                                        </option>

                                    {% else %}

                                        <option value="{{ w_type.0 }}"
                                                onclick="location.href='{% url 'nsinya:worksheet-creation' type=w_type.0 %}'">
                                            {{ w_type.1 }}
                                        </option>

                                    {% endif %}

                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group" style="display: {{ find_sample_visible }};">
                        <label class="col-sm-2 control-label">Sample ID</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-btn">

                                    <input type="text" class="form-control" name="sample_id" id="sample_id" value=""
                                           autofocus="autofocus" onChange="this.form.submit()"/>
                                    <button type="submit" class="btn btn-primary">Find</button>
                                </span>
                            </div>
                        </div>
                    </div>


                    <div style="float: right">
                        <label class="col-md-4 control-label">TOTAL:{{ samples.count }}</label>
                    </div>

                    <div class="ln_solid"></div>

                    <table id="datatable-checkbox" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Sample id</th>
                            <th>Date sample</th>
                            <th>Aspect sample</th>
                            <th>Volume(ml)</th>
                            <th width="3%"/>
                        </tr>
                        </thead>

                        <tbody>

                        {% for sputum in samples %}
                            <tr>
                                <td id="list">{{ sputum.sample_id }}</td>
                                <td>{{ sputum.sample_id|get_date_sample }}</td>
                                <td>{{ sputum.sample_id|get_date_aspect }}</td>
                                <td>{{ sputum.quantity }}</td>
                                <td>
                                    <button class="btn btn-default"
                                            title="Remove"
                                            onclick="location.href='{% url 'nsinya:worksheet-creation' sample_id=sputum.sample_id remove='true' %}'">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    {% if not samples or  samples.count < 1 %}
                        <button type="submit" class="btn btn-primary"
                                disabled="disabled">Save
                        </button>
                    {% else %}
                        <button type="submit" class="btn btn-primary" name="save">Save</button>
                    {% endif %}

                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block starterjs %}
    $('#datatable-checkbox').DataTable();

    $('#datepicker').datepicker({
    startDate: '-3d'
    });
{% endblock %}