{% extends "xf_viz_base.html" %}
{% load nsinya_filters %}

{% block main %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        {% for message in messages %}
            {% if forloop.first %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
        {% endfor %}

        <div class="x_panel">

            <div class="x_title">
                <h2>Worksheet</h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <div class="form-group">
                    <label class="control-label col-sm-2">Code:</label>
                    <label class="control-label col-sm-2">{{ worksheet_samples.0.worksheet_code }}</label>
                </div>

                <div class="clearfix"></div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Type:</label>
                    <label class="control-label col-sm-2">{{ worksheet_samples.0.worksheet_code|get_worksheet_type }}</label>
                </div>

                <div class="clearfix"></div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Inoculation date:</label>
                    <label class="control-label col-sm-2">{{ worksheet_samples.0.worksheet_code|get_inoculation_date }}</label>
                </div>

                <div class="clearfix"></div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Total:</label>
                    <label class="control-label col-sm-2">{{ worksheet_samples.count }}</label>
                </div>


                <table id="datatable-checkbox" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Sample id</th>
                        <th>Date sample</th>
                        <th>Aspect sample</th>
                        <th>Volume(ml)</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for ws in worksheet_samples %}
                        <tr>
                            <td id="list">{{ ws.sample_id }}</td>
                            <td>{{ ws.sample_id|get_date_sample }}</td>
                            <td>{{ ws.sample_id|get_date_aspect }}</td>
                            <td>{{ ws.sample_id|get_date_volume }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>


            </div>
        </div>
    </div>

{% endblock %}