{% extends "xf_viz_base.html" %}
{% load nsinya_filters %}
{% block main %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        {% for message in messages %}
            {% if forloop.first %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
        {% endfor %}

        <div class="x_panel">

            <div class="x_title">
                <h2>Inoculation</h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <div class="form-group has-feedback">
                    <label class="control-label col-sm-1">Worksheet</label>
                    <div class="col-sm-4">
                        <select name="province" class="input-sm form-control">

                            <option onclick="location.href='{% url 'nsinya:worksheet-inoculation' worksheet_id=0 %}'">
                                ---------
                            </option>

                            {% for worksheet in worksheet_list %}

                                {% if ws_selected and ws_selected == worksheet.stringId %}

                                    <option value="{{ worksheet.id }}" selected
                                            onclick="location.href='{% url 'nsinya:worksheet-inoculation' worksheet_id=worksheet.id %}'">
                                        {{ worksheet.code }}
                                    </option>

                                {% else %}

                                    <option value="{{ worksheet.id }}"
                                            onclick="location.href='{% url 'nsinya:worksheet-inoculation' worksheet_id=worksheet.id %}'">
                                        {{ worksheet.code }}
                                    </option>

                                {% endif %}

                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="x_content">

                    <table id="datatable-checkbox" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Sample id</th>
                            <th>Date sample</th>
                            <th>Aspect sample</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for ws in worksheet_samples.all %}
                            <tr>
                                <td id="list">{{ ws.sample_id }}</td>
                                <td>{{ ws.sample_id|get_date_sample }}</td>
                                <td>{{ ws.sample_id|get_date_aspect }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

                <div class="x_content">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Inoculation date:</label>
                        <div class="col-sm-4">{{ ws_selected|get_inoculation_date }}</div>
                    </div>

                    <div class="ln_solid"></div>

                    {% if worksheet_samples.count > 0 %}

                        <button class="btn btn-primary"
                                onclick="location.href='{% url 'admin:nsinya_worksheet_change' ws_selected %}'">
                            <i class="fa fa-calendar"></i>
                            Change inoculation date
                        </button>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
