{% extends "xf_viz_base.html" %}
{% load nsinya_filters %}
{% block main %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        {% for message in messages %}
            {% if forloop.first %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
        {% endfor %}

        <div class="x_panel">

            <div class="x_title">
                <h2>Worksheet</h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <div class="form-group has-feedback">
                    <label class="control-label col-sm-1">Worksheet</label>
                    <div class="col-sm-4">
                        <select name="province" class="input-sm form-control">

                            <option onclick="location.href='{% url 'nsinya:worksheet-list' worksheet_id=0 %}'">
                                ---------
                            </option>

                            {% for worksheet in worksheet_list %}

                                {% if ws_selected and ws_selected == worksheet.stringId %}

                                    <option value="{{ worksheet.id }}" selected
                                            onclick="location.href='{% url 'nsinya:worksheet-list' worksheet_id=worksheet.id %}'">
                                        {{ worksheet.code }}
                                    </option>

                                {% else %}

                                    <option value="{{ worksheet.id }}"
                                            onclick="location.href='{% url 'nsinya:worksheet-list' worksheet_id=worksheet.id %}'">
                                        {{ worksheet.code }}
                                    </option>

                                {% endif %}

                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="x_content">

                <div class="form-group">
                    <label class="control-label col-sm-2">Type:</label>
                    <label class="control-label col-sm-2">{{ worksheet_samples.0.worksheet_code|get_worksheet_type }}</label>
                </div>

                <div class="clearfix"></div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Inoculation date:</label>
                    <label class="control-label col-sm-2">{{ worksheet_samples.0.worksheet_code|get_inoculation_date }}</label>
                </div>

                <div class="clearfix"></div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Total:</label>
                    <label class="control-label col-sm-2">{{ worksheet_samples.count }}</label>
                </div>

                    <div style="float: right">

                        {% if worksheet_samples.count > 0 %}

                            <button class="btn btn-primary"
                                    onclick="location.href='{% url 'nsinya:worksheet-edit' worksheet_id=ws_selected %}'">
                                <i class="fa fa-edit"></i>
                                Edit Worksheet
                            </button>

                        {% else %}

                            <button class="btn btn-primary" disabled="disabled">
                                <i class="fa fa-edit"></i>
                                Edit Worksheet
                            </button>

                        {% endif %}
                    </div>

                    <table id="datatable-checkbox" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Sample id</th>
                            <th>Reception Date</th>
                            <th>Positivity Week</th>
                            <th>Gradation</th>
                            <th>Ziehl Neelsen</th>
                            <th>Genotype_CM</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for sample in worksheet_samples.all %}
                            <tr>
                                <td id="list">{{ sample.sample_id }}</td>
                                <td>{{ sample.sample_id|get_date_reception_date }}</td>
                                <td>{{ sample.sample_id|get_date_positivity_week }}</td>
                                <td>{{ sample.sample_id|get_date_gradation }}</td>
                                <td>{{ sample.sample_id|get_date_ziehl_result }}</td>
                                <td>{{ sample.sample_id|get_date_genoCM_result }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
